/* Name: Allison Sharpe */
/* Date: 05-04-15 */

/* body elements */
body {
    width: 100%;
    background: url("../images/bg");
}

/* class "content" elements */
.content {
    background: url("../images/content");
    border: 1px solid #fff;
    border-radius: 2em 2em;
    padding: 10px 0.5%; /* 8px/16px */
    width: 97.6%;
}

 /* h2 and paragraph elements */
h2, p {
    text-align: center;
    color: #fff;
}

/* h4 elements */
h4 {
    text-align: left;
    margin-bottom: 25px;
    color: #fff;
}

/* h2 elements */
h2 {
    margin-top: 50px;
}

p {
    border: 1px solid;
    color: #fff;
}

/* class "register", "input", and id "submit" elements */
.register, .input, #submit {
    float: left;
    clear: left;
}

/* class "account" elements */
.account {
    float: left;
    margin: -41px 0% 0px 87.5%; /* 1400px/16px */
}

/* class "signout" elements */
.signout {
    float: left;
    margin: -41px 0% 0px 92.5%; /* 1480px/16px */
}

/* id "tabs" elements */
#tabs {
    width: 600px;
    height: 150px;
    padding: 20px;
    margin: 20px 0% 0px 26.875%; /* 430px/16px */
}

/* id "tabs-nav" elements */
#tabs-nav {
    width: 600px;
    height: 75px;
    text-decoration: none;
    list-style-type: none;
    margin: 50px 0% 0px 35.3125%; /* 565px/16px */
}

/* id "tabs-nav list item elements */
#tabs-nav li {
    display: inline;
}

/* id "project" elements */
#project {

}

/* image elements */
img {
    padding: 0px 11px;
    border: 1px solid #fff;
}

/* class "tooltip" elements */
.tooltip {
    padding: 10px;
    background-color: #fff;
    color: #666;
    font-size: 16px;
    float: right;
    margin: -450px 18.75% 0px 0%; /* 300px/16px */
    border: 1px solid;
    border-radius: 1em;
}


