/* Name: Allison Sharpe */
/* Date: 05-12-15 */

/* body elements */
body {
    width: 100%;
    background: url("../images/bg");
}

/* class "content" elements */
.content {
    background: url("../images/content");
    border: 1px solid #fff;
    border-radius: 2em 2em;
    padding: 10px 0.5%; /* 8px/16px */
    width: 97.6%;
}

/* h2, h4, and paragraph elements */
h2, h4, p {
    color: #fff;
    text-align: center;
}

/* h4 elements */
h4 {
    text-align: left;
    margin-bottom: 25px;
}

/* h2 elements */
h2 {
    margin-top: 50px;
}

/* class "register", "input", and id "submit" elements */
.register, .input, #submit {
    float: left;
    clear: left;
}

/* class "dashboard" elements */
.dashboard {
    float: left;
    margin: -41px 0% 0px 81.25%; /* 1300px/16px */
}

/* class "account" elements */
.account {
    float: left;
    margin: -41px 0% 0px 87.5%; /* 1400px/16px */
}

/* class "signout" elements */
.signout {
    float: left;
    margin: -41px 0% 0px 92.5%; /* 1480px/16px */
}

/* form and form input elements */
form, form.input {
    padding: 10px;
}

/* id "overlay" elements */
#overlay {
    width: 100%;
    height: 80%;
    display: none;
}

/* id "modal" elements */
#modal {
    width: 18.75%; /* 300px/16px */
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -9.375%; /* 10px/16px */
    z-index: 1001;
    display: none;
}

/* id "modal" and class "header" elements */
#modal .header {
    background: #666;
    color: #fff;
    padding: 5px;
}
/* id "modal" and class "close" elements */
#modal .close {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #666;
    color: #fff;
}

/* class "modalClick" elements */
.modalClick {
    text-decoration: none;
    color: #fff;
}

/* class "mystatus", its first descender, and image elements */
.mystatus > div, img {
    margin: 5px 0% 0px 38.75%; /* 620px/16px */
    font-weight: bold;
}

/*class "mystatus" elements */
.mystatus, label {
    margin: 0px 0% 0px 15.625%; /* 250px/16px */
    float: left;
    clear: left;
}

/* class "mystatus" and its direct descender elements */
.mystatus > input[type=radio]{
    display: none;
}

/* radio input and image elements */
input[type=radio] + img {
    cursor: pointer;
    border: 1px solid transparent;
}

/* radio input checked and image elements */
input[type=radio]:checked + img {
    border: 2px solid #000;
    background-color: #5791ae;
}

/* class "normal", "urgent", "delayed" and "complete" elements */
.normal, .urgent, .delayed, .complete {
    color: #000;
    margin: 8px 0% 0px 1.875%; /* 30px/16px */
}

/* id "addButton" elements */
#addButton {
    float: left;
    margin: 120px 0% 10px -25%; /* 400px/16px */
}

/* class "tooltip" elements */
.tooltip {
    padding: 10px;
    background-color: #fff;
    color: #666;
    font-size: 16px;
    float: right;
    margin: -100px 25% 0px 0%; /* 400px/16px */
    border: 1px solid;
    border-radius: 1em;
}

